<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <title>Oakland Public Library - {% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
    <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% endblock %}
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="column">
          {% block content %}{% endblock %}
        </div>
      </div>
      <div class="row">
        <div class="column">
          {% block footer %}
          <div class="text-center">
            <a href="https://oaklandlibrary.org">Oakland Public Library</a>
          </div>
          {% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>
