{% extends "layout.html" %}
{% block title %}Shoutbomb Sign-up{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<h2>Check your phone!</h2>
<p>To complete the sign up process, you must <b>confirm your registration</b> using your mobile phone.</p>
<p>We've sent a text message to your mobile phone with further instructions. If you don't receive this message within 30 minutes, please re-submit <a href="/shoutbomb">the sign up form</a>.</p>
<hr>
<p>Para finalizer el registro, tiene que <b>confirmar usando su celular</b>.</p>
<p>Le hemos mandado un mensaje a su celular con instrucciones.  Si no recibe el mensaje un 30 minutos, favor de completar <a href="/shoutbomb">la forma de registro nuevamente</a>.</p>
{% endblock %}
